h1 Hello #{name}
 a(href="/users") Truy Cập Tiếp Theo
 div 
  h3 Bóng Chuyền TLA mãi mãi vững bền, phát triển. 7 thành viên nồng cốt đến từ Tiền Giang, Long An và An Giang.
  h1 T là Tiền Giang , L là Long An, A là An Giang 


 div Nguyễn Văn Rươn
 div Lê Hoài Phương
 div Nguyễn Trung Nghĩa
 div Nguyễn Hưng Thạnh
 div Nguyễn Thế Anh Phan
 div Thái Huỳnh Duy Toàn
 div Nguyễn Thanh Nhân


img(src="/image/logo.png",width="300")
a(href="/users") Truy Cập Tiếp Theo